#container{
    margin:40px auto;
    border:1px solid rgb(245, 231, 231);
    width:400px;
    height:600px;
    border-radius: 5%;
    background-color: white;
    box-shadow: ;
}

.studentPage{
    background-color : #EDBAA8;
   margin: 0px;
   height: 800px;
}
.studentDetails{
   margin-top: 30px;
   padding:10px 60px;
   overflow: hidden;
}
.studentResults{
    padding:0px 60px;
    text-align: center;
    font-size: 30px;
    color: maroon;
}
input{
    padding: 5px 15px;
    width: 85%;
}
.resultsViewForm{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#regNo,#Fname,#Sname ,#StudentPassword,.register{
    height:30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
#dep{
    height: 60px;
   width: 95%;
}
.dep{
    width:100%;
    height:40px;
    border-radius: 9999px;
    border: 1px solid lightgrey;
}
.purple{
    background: linear-gradient(#e6a88f, #5f1803);
    width:100%;
    height:40px;
    border-radius: 9999px;
    border: 1px solid lightgrey;
}
#StudentPassword{
    height:30px;
    border-radius: 9999px;
    border: 1px solid lightgrey;
}
.register{
    margin-top: 20px;
}
